*{
    max-width: 500px;
  margin: auto;
}
.body{
    margin-top: 20px;
}

.stockimg1{
    height: 400px;
    width: 770px;
    border-radius: 30px;
    margin-top: -60px;
    margin-left: -100px;
    transform: rotate(10deg);
    z-index: 999;
    position: relative;
    transition: 2s ease;
}
.border1{
    border: solid black 1px;
    border-radius: 30px;
    height: 100px;
    width: 700px;
    margin-top: 80px;
    margin-left: -120px;
    transform: rotate(5deg);
}
.stockimg2{
    height: 380px;
    width: 530px;
    border-radius: 30px;
    margin-top: -320px;
    margin-left: 330px;
    transform: rotate(-10deg);
    transition: 2s ease;
}
.border2{
    border: solid black 1px;
    border-radius: 30px;
    height: 200px;
    width: 500px;
    margin-top: -160px;
    margin-left: 470px;
}
.stockimg2:hover {
    transform: rotate(0);
}
.stockimg1:hover {
    transform: rotate(0);
}
.quote1{
    margin-top: 60px;
    margin-left: 40px;
    width: 400px;
    font-size: 65px;
}
.quote2{
    margin-top: 10px;
    margin-left: 40px;
    font-size: 20px;
}
.dots{
    font-size: 80px;
    margin-left: 45px;
}
.word{
    font-size: 30px;
    margin-top: -80px;
    margin-left: 400px;

}
